
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
              <h1>Seamless Online Banking</h1>
              <p> 
                Let us partner with you to redefine your customer's online banking experience.
                </p>
              <p><a class="btn btn-success btn-lg" href="#" role="button">Request a Demo &raquo;</a></p>
             </div>  
            </div>
        </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
       
          
        <div class="col-md-4">
          <h2>Sleek</h2>
          <p>Our user-experience experts have designed our platform to be simple and intuitive. Elegant design ensures that customers enjoy their banking experience and execute their tasks with ease. This experience will result in happier customers and fewer calls to the IT support desk. </p>
          <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
        </div>
        <div class="col-md-4">
          <h2>Secure</h2>
          <p> 
            Security is a major pillar of our online banking design. We adhere to industry-leading standards to manage our hosting infrastructure, secure the web application and set policies across our organization. 
          </p>
          <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
       </div>
        <div class="col-md-4">
       <h2>Mobile</h2>
          <p> Our online banking experience works seamlessly whether customers use phones, tablets or PCs. This responsiveness is paramount in a world where customers use a myriad of devices. 
          <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
        </div>
        
      </div>

      <hr>
      <footer>
          <p>&copy; 2014-2015 Tachyon Speed Data Ltd.</p>
        </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  