<div class="container about">
	<br/>
	
	<div class="row">
		<div class="col-md-offset-2 col-md-6">
			<h2> Vision </h2>
			<p>An elegantly designed online banking experience enhances the relationship between a bank and it's clients. In a busy world, clients want to bank at home, at the office or at the coffee shop. Online banking saves them the hustle of driving in heavy traffic to visit a bank branch. Online banking also frees up the banking staff to spend more of their time figuring out how to serve their clients better instead of handling mundane tasks. Our company's vision is to create online banking experiences that are not only functional but delighful to use. 	
			</p>
			<br/>
			<p>
                <%= link_to contact_path, :class=> 'btn btn-lg btn-success' do %>Request a Demo &raquo; 
                <% end %> 
              </p>
		</div>
		
	</div>
	<hr>
	<div class="row">
		<div class="col-md-offset-2 col-md-7">
			<h2> Contact </h2>
			<address>
				<strong>Tachyon Speed Data. </strong><br/>
				Acacia Mall, 4th Floor, <br/>
				14-18, Cooper Road, Kololo, <br/>
				P.O. Box 36720, <br/> 
				Kampala. <br />
			</address>
			
		</div>
		
	</div>
	<hr>
	<div class="row">
		<div class="col-md-offset-2 col-md-7">		
			<footer>
	        	<p>&copy; 2014-2015 Tachyon Speed Data Ltd.</p>
	      	</footer>
	      </div>
	  </div>

</div>