.navbar{
	border-radius: 0;
	font-family: "Helvetica Neue", Helvetica;
	font-weight: 200;
	box-shadow: 0px 1px 3px #2a2a2a;
	
}

.jumbotron{
	padding-top: 100px;
	background: url('onlinebanking2.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 600px;
	box-shadow: 0px 3px 8px #2a2a2a;
	}
.jumbotron h1 {
	color: white;
	font-family: "Helvetica Neue", Helvetica;
	font-weight: 200;
	font-size: 300%;
	margin-top: 60px;
}

.jumbotron p{
	color:white;
	font-weight: 150;
}


.navbar-fixed-top a.navbar-brand{
	font-family: "Helvetica Neue", Helvetica;
	font-weight: 100;
}

footer p{
	font-size: 12px;
}
.about{
	padding-top: 60px;
	
	}
.logo{
  width: 105px;
  height: 45px;
  margin: 10px;
}

.booyah-box{
	-moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
	-webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
	box-shadow: 1px 1px 2px 0 #d0d0d0;
	background: #fff;
	border: 1px solid #ccc;
	border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
	margin-top: 10px;
	margin-bottom: 15px;
	padding: 20px;
}
