.navbar{
	border-radius: 0;
	font-family: "Helvetica Neue", Helvetica;
	font-weight: 200;
	box-shadow: 0px 1px 3px #2a2a2a;
	
}

.jumbotron{
	padding-top: 100px;
	background: url('onlinebanking2.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 600px;
	box-shadow: 0px 3px 8px #2a2a2a;
	}
.jumbotron h2 {
	color: white;
	font-family: "Helvetica Neue", Helvetica;
	font-weight: 200;
	margin-top: 60px;
}
.jumbotron p{
	color:white;
	font-weight: 100;
}


.navbar-fixed-top a.navbar-brand{
	font-family: "Helvetica Neue", Helvetica;
	font-weight: 100;
}

p{

}